certifi
charset-normalizer
contourpy
cycler
fonttools
idna
importlib_resources
kiwisolver
matplotlib
monai
numpy
opencv-python==4.7.0.72
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
requests
scipy
six
torch
torchaudio
torchvision
typing_extensions
tzdata
urllib3
zipp